
.card{
width: 400px;
position: 0;
margin-top: 200px;
padding-left: 20px;
text-align: center;
}
.button{
 color: #e29e20;
}

.spacebetween{
    display: flex;
    justify-content: space-between;
    color: #e29e20;
}

.bg{
    background: url("../assets/a.jpg");
    width: 200PX;
    height: 200px;
    background-repeat: no-repeat;


}


  