



<div class="spacebetween">
    <div>
        <div class="card">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <form [formGroup]="profileForm">
                        <h2 style="color: #A242A5;">Login</h2>
                        <div> <mat-form-field appearance="outline">
                                <mat-label>UserID</mat-label>
                                <input matInput placeholder="UserID" formControlName="username">
                                <mat-icon matSuffix class="button">account_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" [type]="hide() ? 'password' : 'text'"
                                    formControlName="password" />
                                <button mat-icon-button matSuffix (click)="clickEvent($event)"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                    <mat-icon class="button">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <strong style="color: red;">{{alertMessage}}</strong>
                        <section>
                            <div class="button-row">
                                <button style="background-color: #A242A5;" mat-flat-button
                                    (click)="onSubmit()">Submit</button>
                            </div>
                        </section>

                        <div class="spacebetween">
                            <a (click)="onForgot()"><u>Forgot Password?</u></a><br>
                            <a (click)="onSignup()"><u>Sign Up</u></a>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>